.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    height: 300px;
    width: 80%;
    object-fit: cover;
}
.headline{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
}
.cta{
    background: rgb(255, 71, 43);
    padding: 6px;
    color: whitesmoke;
    border-radius: 5px;
    border: none;

}